<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.all.min.css"> <!-- Corrected the link -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Blog site</h1>

        <p>Login or Register with:</p>

        <!-- Existing Login Button -->
        <a href="/login" class="btn btn-default">
          <span class="fa fa-user"></span> Login
        </a>
        <!-- Existing Register Button -->
        <a href="/register" class="btn btn-default">
          <span class="fa fa-user"></span> Register
        </a>
        <!-- New View Posts Button -->
        <a href="/blogs" class="btn btn-info">
          <span class="fa fa-list"></span> View Blogs
        </a>
      </div>
    </div>
  </body>
</html>
