<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.all.min.css"> <!-- Corrected the link -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Blog site</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"
          ><span class="fa fa-user"></span> Login</a
        >
        <a href="/register" class="btn btn-default"
          ><span class="fa fa-user"></span> Register
        </a>
      </div>
    </div>
  </body>
</html>
